@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-weight: 200;
  src: url("../assets/JetBrainsMono-200.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-weight: 400;
  src: url("../assets/JetBrainsMono-400.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-weight: 600;
  src: url("../assets/JetBrainsMono-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-weight: 800;
  src: url("../assets/JetBrainsMono-800.woff2") format("woff2");
}
:root {
  --main-bg-color: #191919;
  --main-color: #ccc;
  --full-black: #000;
  --full-white: #fff;
  --gradient-pink-blue: linear-gradient(
      135deg,
      rgba(205, 64, 143, 1) 25%,
      rgba(9, 79, 195, 1) 75%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-family: "JetBrains Mono", monospace;
  font-size: 1em;
  font-weight: 400;
}

header {
  overflow: hidden;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 1em;
}
header h1,
header h2 {
  position: absolute;
}
header h1 {
  top: 50%;
  width: 3.5em;
  margin-top: -2.45em;
  margin-bottom: 0.25em;
  text-transform: lowercase;
  font-size: 4.75em;
  font-weight: 600;
  letter-spacing: -0.05em;
  line-height: 1;
  background: rgb(205, 64, 143);
  background-position: 50% 45%;
  background-image: var(--gradient-pink-blue);
  background-size: 100vw 100vh;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header h2 {
  top: 50%;
  margin-top: -0.75em;
  margin-bottom: 2em;
  font-size: 1.25em;
  font-weight: 400;
  color: #555;
}
header h2::first-letter {
  padding: 0.07em 0.3em 0 0;
  float: left;
}
header nav {
  color: var(--full-white);
}
header nav .nav-item {
  position: absolute;
  width: 100%;
  left: 0;
  line-height: 3.45em;
  margin-bottom: 0.125em;
  background-color: var(--main-bg-color);
  background-image: linear-gradient(135deg, rgba(205, 64, 143, 0.5) 25%, rgba(9, 79, 195, 0.5) 75%);
  background-position: 50% 75%;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
header nav .nav-item:nth-child(1) {
  top: calc(50% + 3em);
  background-position: 50% 70%;
}
header nav .nav-item:nth-child(2) {
  top: calc(50% + 3em + 3.625em);
  background-position: 50% calc(70% - 3.65em);
}
header nav .nav-item:nth-child(3) {
  top: calc(50% + 3em + 7.25em);
  background-position: 50% calc(70% - 7.3em);
}
header nav .nav-item:nth-child(4) {
  top: calc(50% + 3em + 10.875em);
  background-position: 50% calc(70% - 10.95em);
}
header nav .nav-item .container {
  transform: translateX(-3.625em);
  display: flex;
  width: calc(100% + 3.625em);
}
header nav .nav-item .back-btn {
  width: 3.625em;
  border-right: 0.1875em solid var(--main-bg-color);
  margin-right: 1em;
  background-image: url("../assets/arrow-l.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 1.25em;
}
header nav .nav-item .label {
  flex-grow: 1;
  font-size: 1.25em;
  text-transform: lowercase;
}

@keyframes header-item-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes header-item-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes nav-item-to-top {
  0% {
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes nav-item-back {
  0% {
    top: 0;
  }
}
@keyframes show-back-btn {
  100% {
    transform: translateX(0);
  }
}
@keyframes hide-back-btn {
  0% {
    transform: translateX(0);
  }
}
@keyframes header-shrink {
  100% {
    height: 3.45em;
  }
}
@keyframes header-grow {
  0% {
    height: 3.45em;
  }
}
@keyframes show-page {
  100% {
    opacity: 1;
  }
}
@keyframes hide-page {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show-article {
  0% {
    opacity: 0;
  }
}
@keyframes hide-article {
  100% {
    opacity: 0;
  }
}
header.navigated {
  animation-name: header-shrink;
  animation-duration: 0ms;
  animation-fill-mode: both;
  animation-delay: 1000ms;
}
header.navigated h1,
header.navigated h2 {
  animation-name: header-item-hide;
  animation-duration: 500ms;
  animation-fill-mode: both;
}
header.navigated nav .nav-item {
  animation-name: header-item-hide;
  animation-duration: 500ms;
  animation-fill-mode: both;
}

body.navigated-back header h1,
body.navigated-back header h2 {
  animation-name: header-item-show;
  animation-delay: 1000ms;
  animation-duration: 500ms;
  animation-fill-mode: both;
}
body.navigated-back header nav .nav-item {
  animation-name: header-item-show;
  animation-delay: 1000ms;
  animation-duration: 500ms;
  animation-fill-mode: both;
}

nav.show-interactive-art .nav-item:nth-child(1),
nav.show-web-development .nav-item:nth-child(2),
nav.show-game-development .nav-item:nth-child(3),
nav.show-workshops-and-education .nav-item:nth-child(4) {
  animation-name: nav-item-to-top;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 500ms;
}
nav.show-interactive-art .nav-item:nth-child(1) .container,
nav.show-web-development .nav-item:nth-child(2) .container,
nav.show-game-development .nav-item:nth-child(3) .container,
nav.show-workshops-and-education .nav-item:nth-child(4) .container {
  animation-name: show-back-btn;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 1000ms;
}

body.navigated-back.from-interactive-art header nav .nav-item:nth-child(1),
body.navigated-back.from-page-2 header nav .nav-item:nth-child(2),
body.navigated-back.from-page-3 header nav .nav-item:nth-child(3),
body.navigated-back.from-page-4 header nav .nav-item:nth-child(4) {
  animation-name: nav-item-back;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 500ms;
}
body.navigated-back.from-interactive-art header nav .nav-item:nth-child(1) .container,
body.navigated-back.from-page-2 header nav .nav-item:nth-child(2) .container,
body.navigated-back.from-page-3 header nav .nav-item:nth-child(3) .container,
body.navigated-back.from-page-4 header nav .nav-item:nth-child(4) .container {
  animation-name: hide-back-btn;
  animation-duration: 500ms;
  animation-fill-mode: both;
}

.page {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  top: 3.45em;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
}
.page::before {
  content: "";
  position: fixed;
  z-index: 1;
  top: 3.45em;
  left: 0;
  right: 0;
  height: 2em;
  background-image: linear-gradient(180deg, var(--main-bg-color), transparent 100%);
  opacity: 0.75;
  pointer-events: none;
}
.page .article {
  height: 56.25vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1em;
}
.page .article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(0deg, var(--main-bg-color), transparent 50%);
}
.page .article img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}
.page .article .year {
  position: relative;
  margin-top: auto;
  margin-bottom: 0.5em;
  padding: 0.125em 0.5em;
  background: rgb(205, 64, 143);
  background-position: 50% 45%;
  background-image: var(--gradient-pink-blue);
  background-size: 100vw 100vh;
  font-size: 0.875em;
  font-weight: 600;
  color: var(--main-bg-color);
}
.page .article .label {
  position: relative;
  font-size: 1.25em;
  color: var(--full-white);
}
.page .article .label span {
  text-transform: none;
}

.page-lv2 {
  z-index: 0;
}

body.show-ancestors-gate .ancestors-gate {
  animation-name: show-page;
  animation-duration: 0ms;
  animation-delay: 0ms;
  animation-fill-mode: both;
  pointer-events: all;
}
body.show-ancestors-gate .ancestors-gate .article {
  animation-name: show-article;
  animation-duration: 500ms;
  animation-fill-mode: both;
}
body.show-ancestors-gate .ancestors-gate .article:nth-child(1) {
  animation-delay: 1500ms;
}
body.show-ancestors-gate .ancestors-gate .article:nth-child(2) {
  animation-delay: 1600ms;
}
body.show-ancestors-gate .ancestors-gate .article:nth-child(3) {
  animation-delay: 1700ms;
}
body.show-ancestors-gate .ancestors-gate .article:nth-child(4) {
  animation-delay: 1800ms;
}

body.show-interactive-art .interactive-art {
  animation-name: show-page;
  animation-duration: 0ms;
  animation-delay: 1000ms;
  animation-fill-mode: both;
  pointer-events: all;
}
body.show-interactive-art .interactive-art .article {
  animation-name: show-article;
  animation-duration: 500ms;
  animation-fill-mode: both;
}
body.show-interactive-art .interactive-art .article:nth-child(1) {
  animation-delay: 1500ms;
}
body.show-interactive-art .interactive-art .article:nth-child(2) {
  animation-delay: 1600ms;
}
body.show-interactive-art .interactive-art .article:nth-child(3) {
  animation-delay: 1700ms;
}
body.show-interactive-art .interactive-art .article:nth-child(4) {
  animation-delay: 1800ms;
}

body.navigated-back.from-interactive-art .interactive-art,
body.navigated-back.from-ancestors-gate .ancestors-gate,
body.navigated-back.from-page-2 .page-2,
body.show-page-lv2 .interactive-art {
  animation-name: hide-page;
  animation-duration: 500ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
}/*# sourceMappingURL=style.css.map */